.dashboard-item {
  border: 1.5px solid black;
  border-radius: 5px;
  margin-bottom: 30px;
  margin: 50px;
  margin-top: 30px;
}

h3
{
	border-bottom: 1px solid LightGray;
	color: DodgerBlue;
	font-size: 35px;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

h4
{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

h5
{
	color: Gray;
	font-size: 18px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

h6
{
	font-size:50px;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 30px;
}