
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin-left: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

p{
	margin-left: 100px;
}
